<a class="btn-default" ui-sref="artistaElegido({artistaSeleccionado:artista, id:artista.name})">
	<div class="separar-arriba col-sm-6 col-sm-offset-0 col-lg-4">
		<article class="artista col-sm-12">
			<img imagensecundaria="assets/notfound.png" altsrc = "pepe" class="img-circle" src={{artista.images[0].url}} alt="imagen del artista">
			<p class="nombre-artista">{{artista.name.substring(0,30)}}</p>
			<p class="cantidad-seguidores">Seguidores: {{artista.followers.total}}</p>
			<ul ng-if="artista.genres.length > 0" > Generos  <li ng-repeat="genero in artista.genres | limitTo: 3"> {{genero}} </li> </ul>
		</article>
	</div>
</a>