<header class="barra-principal row"> 
		<a ui-sref="home" class="col-sm-1 col-sm-offset-5"><img src="assets/icon.jpg" alt="Icono Spotisearch"></a>
		<input class="col-sm-3 col-sm-offset-2" type="text" ng-model="busqueda" ng-keyup="nuevaBusqueda()" placeholder="Ingrese nueva busqueda aqui">
</header>
<div class="row">
	<section class="col-sm-12 col-sm-offset-0 col-lg-8 col-lg-offset-2">
		<img class="img-circle album-seleccionado-img" src={{album.images[0].url}} alt="imagen del album">
		<h2 class="album-seleccionado-info"> {{album.name.substring(0,40)}} </h2>
		<p class="album-seleccionado-info"> {{album.artists[0].name.substring(0,30)}} </p>
		<div class="clear"></div>
		<table class="table">
			<thead>
				<tr>
					<th>Numero</th>
					<th>Nombre</th>
					<th>CD</th>
					<th>Preview</th>
					<th class="clickeable" ng-click="cambiarOrdenamiento()">Duracion {{ordenamiento.desc}}</th>
					<th>Favorito</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="cancion in canciones | ordenar:ordenamiento.ordenar:ordenamiento.reverse">
					<td>{{cancion.track_number}}</td>
					<td>{{cancion.name}}</td>
					<td>{{cancion.disc_number}}</td>
					<td><audio src="{{cancion.preview_url}}" type="audio/mp3" controls>No disponible</audio></td>
					<td>{{cancion.duration_ms | msToString}}</td>
					<td><favorito cancionid=cancion.id></favorito><td>
				</tr>
			</tbody>
		</table>
	</section>
</div>