body {
	background-color: white;
	width: 1000px;
	margin: 0 auto;
}

img {
	width: 300px;
	height: 150px;
}

div {
	width: 30%;
	display: inline-block;
	margin: 15px;
}
header {
	text-align: center;
}