body {
	background-color: white;
	width: 1000px;
	margin: 0 auto;
	border-style: dotted;
}

header {
	text-align: justify;
	padding: 10px;
	height: 100px;
}

header h1{
	float: left;
	text-align: center;
	text-decoration: underline;
	width: 150px;
}

header p {
	width: 600px;
	float: right;
}

.float-clear {
	display: none;
	clear: both;
}

div {
	width: 300px;
	height: 150px;
	display: inline-block;
	position: relative;
	margin: 15px;
}

img {
	width: 300px;
	height: 150px;
}

.info-banderas {
	/*Propiedades posicion*/
	position: absolute;
	top: 0px;
	margin: 0px;
	/*Propiedas bloque visibilidad*/
	width: 280px;
	height: 130px;
	background-color : rgba(0,0,0,0.5);
	opacity: 0;
	/*Propiedades de texto*/
	padding: 10px;
	font-size: 20px;
	color: orange;
	font-weight: bold;
}
.info-banderas:hover {
	opacity: 1;
}

@media (min-width: 600px) and (max-width: 800px) {
	header {
		height: 150px;
	}

	header p {
		width: 400px;
		float: right;
	}	
	body {
		width: 700px;
	}

	div {
		width: 200px;
		height: 100px;
	}

	img {
		width: 200px;
		height: 100px;
	}

	.info-banderas {
		/*Propiedas bloque visibilidad*/
		width: 180px;
		height: 80px;
		/*Propiedades de texto*/
		padding: 10px;
		font-size: 14px;
	}
}
